<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div style="width:50%;margin-left:10px;margin-top:10px">
    {{ form_start(form) }}
    {{ form_row(form.login) }}
    {{ form_row(form.password) }}
    {{ form_row(form.age) }}
    {{ form_row(form.isActive) }}

    <h3>Linked Organizations</h3>
    <ul class="linkedOrganizations" data-prototype='{{ form_widget(form.linkedOrganizations.vars.prototype)|e('html_attr') }}'>
        {% for organization in form.linkedOrganizations %}
            <li>{{ form_row(organization.name) }}</li>
        {% endfor %}
    </ul>
    {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
{% block head_js %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/new.js"></script>
{% endblock %}
</body>
</html>
